body{
    background-color: rgb(204, 239, 248);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1{
    margin: 0;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    color:  #66BFBF;
    font-family: 'Sacramento', cursive;
    
}
h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #11999E;
}


/* ################### Class selector ######### */
.topContainer{
    background-color: rgb(182, 248, 239);
    position: relative;
    padding: 100px;
}
.middleContainer{
  
}

.bottomContainer{
    
}

.topCloud{
    position:absolute;
    right: 300px;
    top: 50px;
}
.bottomCloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
